{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Create Listing</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Title</label>
        <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}">
    </div>
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">Description</label>
        <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="{{ form.start_bid.id_for_label }}">Starting Bid</label>
        <input type="number" min="0" step="0.01" class="form-control" id="{{ form.start_bid.id_for_label }}" name="{{ form.start_bid.name }}" placeholder="$0.00">
    </div>
    <div class="form-group">
        <label for="{{ form.image_url.id_for_label }}">Image URL</label>
        <input type="text" class="form-control" id="{{ form.image_url.id_for_label }}" name="{{ form.image_url.name }}">
    </div>
    <div class="form-group">
        <label for="{{ form.category.id_for_label }}">Category</label>
        <select class="form-control" id="{{ form.category.id_for_label }}" name="{{ form.category.name }}">
            <option value="">---------</option>
            {% for category in form.category.field.queryset %}
                <option value="{{ category.pk }}">{{ category }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}